.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll .scroll-item {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.scroll .scroll-item::-webkit-scrollbar { 
width: 0 !important;
display: none; 
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
}

body {
  font-family: "Be Vietnam Pro";
}

.navHome {
  transition: width 0.7s; /* Hiệu ứng chuyển động */
  overflow: hidden; /* Ẩn nội dung vượt quá chiều rộng */
}

.navHome:hover { /* Chiều rộng tăng lên khi di chuột vào */
}

.nav-item-text {
  opacity: 0; /* Ẩn chữ */
  transition: opacity 0.3s; /* Hiệu ứng ẩn chữ */
}

.navHome:hover .nav-item-text {
  opacity: 1; /* Hiển thị chữ khi di chuột vào */
}